/* create .padding-20-px {
    padding: 20px;
}

create .display-flex {
    display: flex;
}

create .margin-bottom-8 {
    margin-bottom: 8;
}

update .padding-20-px {
    padding: 20px;
}

update .display-flex {
    display: flex;
}

update .margin-bottom-8 {
    margin-bottom: 8;
} */
