create read update body {
    padding: 30px;
}

create .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

create .padding-left-10-px {
    padding-left: 10px;
}

create .form-group {
    margin-bottom: 10px;
}

create .radio-group label {
    margin-left: 15px;
}

read .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

update .container {
    max-width: 800px;
    margin: 0 auto;
}

update h2 {
    text-align: center;
}
