 .PatientForm-01 {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* ปรับขนาดให้รวม padding และ border */
  }
  
  /* สไตล์สำหรับฟอร์ม */
  .PatientForm-01 form {
    display: flex;
    flex-direction: column;
  }
  
  .PatientForm-01 label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .PatientForm-01 input,
  .PatientForm-01 select,
  .PatientForm-01 textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* ใช้ box-sizing นี้ */
  }
  
  .PatientForm-01 button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* ปรับปุ่มให้กว้างเต็ม */
  }
  
  .PatientForm-01 button:hover {
    background-color: #218838;
  }