.display-flex {
  display: flex;
}

.gap-8-px {
  gap: 8px;
}

.padding-20-px {
  padding: 20px;
}

.margin-bottom-20-px {
  margin-bottom: 20px;
}

.margin-bottom-40-px {
  margin-bottom: 40px;
}

.margin-bottom-8 {
  margin-bottom: 8;
}